.form {
  text-align: start;
  width: 350px;
  padding: 10px;
  margin: 20px;
  border: solid black 1px;
}

.field {
  font-style: italic;
}

.label {
  margin-bottom: 20px;
}

.button {
  display: block;
  margin-top: 24px;
}

.title {
  margin-left: 30px;
}
